#map-wrap {
    padding-left: 130px;
}

.heading {
    font-family: 'Fjalla One', sans-serif;
    font-size: 55px;
    text-align: center;
}

#search-bar {
    text-align: center;
}

.box {
    width: 500px;
    height: 30px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    display: inline-block;
}


.search-button {
  background-color:#000000;
 
 
  /*display:inline-block;*/

  color:#ffffff;
  font-family: 'Fjalla One', sans-serif;
  font-size:14px;
 /* padding:5px 20px;*/
  width: 100px;
  height: 34px;



}
.search-button:hover {
  background-color:#ffffff;
  color:#000000;
}

.headerBar {
    text-align: right;
}

.align-right {
    text-align: right;
}

.simple_form div.input {
  margin-bottom: 10px;
  clear: both; /* Required for Webkit, but not for Gecko */
}
.simple_form input {
  /*float: left;*/
  margin-left: 10px;
  width: 150px;
  height: 15px;

  text-align: left;
  /*padding-top: 10px;*/

  
}
.simple_form label {
  /*float: left;*/
  padding-left: 350px;
  
  font-family: 'Fjalla One', sans-serif;
  font-size: 35px;
  width: 100px;
  text-align: left;
  /*margin: 2px 10px;*/
}

.form-actions {
    padding-left: 350px;
}



